@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "general-Bold";
    src: url("/src/assets/fonts/GeneralSans-Bold.otf");
  }
  @font-face {
    font-family: "general-Medium";
    src: url("../assets/fonts/GeneralSans-Medium.otf");
  }
  @font-face {
    font-family: "general-Regular";
    src: url("../assets/fonts/GeneralSans-Regular.otf");
  }
  @font-face {
    font-family: "general-SemiBold";
    src: url("../assets/fonts/GeneralSans-SemiBold.otf");
  }
}

@layer components {
  .overlay-hide {
    @apply opacity-0 invisible;
  }
  #Achievements {
    /* background-color: #023E8A; */
    background: url(../assets/image/Achievements/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
  }
  .user-box__light {
    box-shadow: 0 4px 75px 0 rgba(255, 255, 255, 0.5);
  }
  .user-box__dark {
    box-shadow: 0 4px 75px 0 rgba(0, 0, 0, 0.25);
  }
  #client {
    background: url(../assets/image/client/image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 50%;
  }
  /* .footer-link__item__style::after{
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../assets/image/footer/list_style.png);
    background-repeat: no-repeat;
  } */
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
